.card {
    width: 100%;
    height: 420px;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    .card-img-top {
        width: 100%;
        height: 250px;
        object-fit: cover;
    }

    .card-body {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-grow: 1;
        padding-bottom: 1rem;

        .btn {
            margin-top: auto;
            align-self: flex-start;
        }
    }
}