<div class="container" *ngIf="categories">
  <h2 class="text-center">Shop by Category</h2>
  <div class="card-container d-flex justify-content-center">
    <div class="card" style="width: 12rem;" *ngFor="let category of categories" [routerLink]="['/categories', formatCategoryName(category.name)]">
      <img [src]="category.image" class="card-img-top" alt="{{category.name}}">
      <div class="card-body">
        <p class="card-text">{{category.name | titlecase}}</p>
      </div>
    </div>
  </div>
</div>